.mainframe {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}

.bg-login {
    position: fixed;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 143%;
}

.login-error{
    text-align:center;
    color:white;
}

.login-input, .login-button {
    width: 85%;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 5px auto;
}

.login-input {
    box-sizing: border-box;
    opacity: 40%;
}

.login-button {
    background-color: rgb(44,70,116);
    color: white;
    border: 0;
}

.login-button:hover {
    cursor: pointer;
}

@media(min-width : 640px) {
    body {
        height: 100vh;
        overflow-y: hidden;
    }
    .mainframe {
        height: 100vh;
    }
    .bg-login {
        position: absolute;
        height: 100vh;
        left: 0;
    }
    .login-form {
        margin-top: 0;
        margin-left: 420px;
    }
    .login-button {
        box-shadow: 3px 3px 10px black;
    }
}