.navbar {
  margin: 15px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.home-title {
  font-size: 20px;
  color: white;
}

.log-off {
  position: absolute;
  width: 8vw;
  height: 8vw;
  translate: 42vw 50%;
  transition: all;
  transition-duration: 200ms;
}

.log-off:hover {
  opacity: 0.8;
  cursor: pointer;
}

.red-graph,
.blue-graph {
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  transition: all;
  transition-duration: 500ms;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red-graph {
  background-color: rgb(255, 180, 180);
  border-radius: 30px 0 0 30px;
}

.blue-graph {
  background-color: rgb(180, 180, 255);
  border-radius: 0 30px 30px 0;
}

.pet-container {
  box-sizing: border-box;
  margin: 0 15px;
  margin-top: 12px;
  padding: 12px 0;
  border-radius: 15px;
  display: flex;
}

.pet-photo-div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pet-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pet-name-container {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pet-name {
  color: rgb(44, 70, 116);
  font-weight: 300;
  margin: 0;
}

.pet-race {
  color: rgb(57, 91, 150);
  font-weight: 200;
  margin: 0;
}

@media (min-width: 640px) {
  .log-off {
    position: absolute;
    width: 32px;
    height: 32px;
    translate: 45vw 50%;
  }
}
